<div class="container">
    <div class="py-5 text-center">
        <h2>Signup for Company</h2>
    </div>
    <div class="d-flex mx-4 justify-content-center">
        <div class="col-md-7 col-lg-8">
            <form [formGroup]="companyForm" (ngSubmit)="OnFormSubmit()">
                <div class="row g-3">

                    <div class="col-12">
                        <label class="form-label">Display Name: </label>
                        <input type="displayName" class="form-control" formControlName="displayName">
                        <small
                            *ngIf="companyForm.get('displayName').invalid && companyForm.get('displayName').touched">*Display
                            Name is
                            required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Company Email: </label>
                        <input type="email" class="form-control" formControlName="email" placeholder="you@example.com">
                        <small *ngIf="companyForm.get('email').invalid && companyForm.get('email').touched">*Email is
                            required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="Enter your password">
                        <small
                            *ngIf="companyForm.get('password').invalid && companyForm.get('password').touched">*Password
                            is required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPass"
                            placeholder="Confirm your password">
                        <small
                            *ngIf="companyForm.get('confirmPass').invalid && companyForm.get('confirmPass').touched">*Confirm
                            password is required.</small>
                        <small *ngIf="companyForm.hasError('passwordMismatch', 'confirmPass')">*Passwords
                            do not match.</small>
                    </div>
                </div>
                <hr class="my-4">
                <div class="input-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" formControlName="checkbox">
                        <label class="form-check-label text-secondary"></label>Read and
                        accept <a href="#">Terms </a>and <a href="#">Privacy Policy.</a>
                    </div>
                    <a [routerLink]="['/auth/register-role']"
                        class="text-end ms-auto text-decoration-underline text-primary" (click)="scrollToTop()">Back to
                        Role</a>
                </div>
                <button class="w-100 btn btn-outline-primary btn-lg" type="submit"
                    [disabled]="companyForm.invalid">Signup</button>

            </form>
        </div>
    </div>


    <div class="my-5 pt-5"></div>
</div>