<div class="container">
    <div class="py-5 text-center">
        <h2>Signup for Company</h2>
    </div>
    <div class="d-flex mx-4 justify-content-center">
        <div class="col-md-7 col-lg-8">
            <form [formGroup]="companyForm" (ngSubmit)="OnFormSubmit()">
                <div class="row g-3">
                    <div class="col-12">
                        <label class="form-label">Company Name</label>
                        <input type="text" class="form-control" formControlName="companyName"
                            placeholder="Enter your company name">
                        <small
                            *ngIf="companyForm.get('companyName').invalid && companyForm.get('companyName').touched">*Company
                            name is required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Representative</label>
                        <input type="text" class="form-control" formControlName="representative"
                            placeholder="Enter your representative">
                        <small
                            *ngIf="companyForm.get('representative').invalid && companyForm.get('representative').touched">*Representative
                            is required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="you@example.com">
                        <small *ngIf="companyForm.get('email').invalid && companyForm.get('email').touched">*Email is
                            required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" formControlName="address"
                            placeholder="Enter your address">
                        <small *ngIf="companyForm.get('address').invalid && companyForm.get('address').touched">*Address
                            is required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Telephone</label>
                        <input type="text" class="form-control" formControlName="telephone"
                            placeholder="Enter your telephone">
                        <small
                            *ngIf="companyForm.get('telephone').invalid && companyForm.get('telephone').touched">*Telephone
                            is required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Phone <span class="text-body-secondary">(Optional)</span></label>
                        <input type="text" class="form-control" formControlName="phone" placeholder="Enter your phone">
                    </div>

                    <div class="col-12">
                        <label class="form-label">Fax <span class="text-body-secondary">(Optional)</span></label>
                        <input type="text" class="form-control" formControlName="fax" placeholder="Enter your fax">
                    </div>

                    <div class="col-12">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="Enter your password">
                        <small
                            *ngIf="companyForm.get('password').invalid && companyForm.get('password').touched">*Password
                            is required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPass"
                            placeholder="Confirm your password">
                        <small
                            *ngIf="companyForm.get('confirmPass').invalid && companyForm.get('confirmPass').touched">*Confirm
                            password is required.</small>
                        <small *ngIf="companyForm.hasError('passwordMismatch', 'confirmPass')">*Passwords
                            do not match.</small>
                    </div>
                </div>

                <hr class="my-4">

                <h4 class="mb-3">Payment Type</h4>

                <div class="my-3">
                    <div class="form-check">
                        <input type="radio" value="monthly" class="form-check-input" formControlName="paymentType">
                        <label class="form-check-label">Monthly</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" value="quarterly" class="form-check-input" formControlName="paymentType">
                        <label class="form-check-label">Quarterly</label>
                    </div>
                </div>

                <hr class="my-4">

                <div class="input-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" formControlName="checkbox">
                        <label class="form-check-label text-secondary"></label>Read and
                        accept <a href="#">Terms </a>and <a href="#">Privacy Policy.</a>
                    </div>
                    <a [routerLink]="['/auth/register-role']"
                        class="text-end ms-auto text-decoration-underline text-primary">Back to Role</a>

                </div>
                <button class="w-100 btn btn-outline-primary btn-lg" type="submit"
                    [disabled]="companyForm.invalid">Signup</button>

            </form>
        </div>
    </div>


    <div class="my-5 pt-5"></div>
</div>