<div class="container">
  <div class="row">
    <form class="mx-auto col-md-5" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h4 class="text-center">Login</h4>
      <div class="mb-3 mt-5">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email"
          formControlName="email" [ngClass]="{'is-invalid': (f['email'].dirty || f['email'].touched || submitted) && f['email'].invalid}">
        <div *ngIf="f['email'].dirty || f['email'].touched || submitted">
          <ul class="mt-1.5 list-disc list-inside">
            <li class="text-red-600" *ngIf="f['email'].hasError('required')">Email is required</li>
            <li class="text-red-600" *ngIf="f['email'].errors">Email is not valid</li>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password"
          formControlName="password" [ngClass]="{'is-invalid': (f['password'].dirty || f['password'].touched || submitted) && f['password'].invalid}">
        <div *ngIf="f['password'].dirty || f['password'].touched || submitted">
          <span class="font-medium">Password is invalid! Ensure that these requirements are met:</span>
          <ul class="mt-1.5 list-disc list-inside">
            <li class="text-red-600" *ngIf="f['password'].errors">At least 8 characters (and up to 100 characters)</li>
            <li class="text-red-600" *ngIf="f['password'].hasError('invalidPassword')">At least one lowercase character</li>
            <li class="text-red-600" *ngIf="f['password'].hasError('invalidPassword')">Inclusion of at least one special character</li>
          </ul>
        </div>
        <p><a [routerLink]="['/auth/login/']"
            class="text-decoration-underline text-primary link-opacity-100-hover">Forget
            password?</a></p>
      </div>
      <button type="submit" class="btn btn-outline-primary mt-4"
        [disabled]="loginForm.invalid || submitted">Login</button>
    </form>
  </div>

</div>