<div class="container">
  <div class="row">
    <form class="mx-auto col-md-5" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h4 class="text-center">Login</h4>
      <div class="mb-3 mt-5">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
          placeholder="Enter your email" formControlName="email">
        <div *ngIf="submitted && f['email'].hasError">
          <ul>
            <li class="text-red-600" *ngIf="f['email'].hasError('required')">Email is required</li>
            <li class="text-red-600" *ngIf="f['email'].hasError('email')">Email is not valid</li>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password"
          formControlName="password">
        <p><a [routerLink]="['/auth/login/#']" class="text-decoration-underline text-primary link-opacity-100-hover">Forget
            password?</a></p>
      </div>
      <button type="submit" class="btn btn-outline-primary mt-4" (click)="onLogin()">Login</button>
    </form>
  </div>

</div>
