<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-4 py-5 my-5 border-top">
        <div class="col mb-3">
            <h5>Company</h5>
            <p class="text-body-secondary">Radiocab.In</p>
            <p class="text-body-secondary">&copy; 2024</p>
        </div>

        <div class="col mb-3">
            <h5>Contact Us</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">Phone:
                    <a href="tel:{{ phone }}" class="nav-link p-0 text-body-secondary">{{ phone }}</a>
                </li>
                <li class="nav-item mb-2">Address:
                    <a href="https://example.com" class="nav-link p-0 text-body-secondary">{{ address }}</a>
                </li>
                <li class="nav-item mb-2">Email:
                    <a href="mailto:{{ email }}" class="nav-link p-0 text-body-secondary">{{ email }}</a>
                </li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Follow Us</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instagram</a>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Youtube</a>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Tiktok</a>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Meta</a>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">X</a>
            </ul>
        </div>

        <div class="col mb-3">
            <a [routerLink]="['user/about']" (click)="scrollToTop()">About Us</a>
            <p class="text-body-secondary">Radiocab.In is a leading provider of vehicle transportation
                services, committed to sustainability and customer satisfaction.</p>
        </div>
    </footer>
</div>