<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center mb-4">Feedback Form</h2>
            <form [formGroup]="feedbackForm" (ngSubmit)="OnFormSubmit()">
                <h4>Feedback type</h4>
                <hr>
                <div class="row mb-4 mt-3">
                    <div class="col-md-4">
                        <input type="radio" value="complaint"
                            formControlName="feedbackType">&nbsp;&nbsp;<label>Complaint</label>
                    </div>

                    <div class="col-md-4">
                        <input type="radio" value="suggestion"
                            formControlName="feedbackType">&nbsp;&nbsp;<label>Suggestion</label>
                    </div>

                    <div class="col-md-4">
                        <input type="radio" value="compliment"
                            formControlName="feedbackType">&nbsp;&nbsp;<label>Compliment</label>
                    </div>
                </div>

                <h4 class="mt-3">Information User</h4>
                <hr>

                <div class="form-group mt-3 mb-3">
                    <label class="form-label">Full Name</label>
                    <input type="text" class="form-control" placeholder="Enter your full name" formControlName="name">
                    <small *ngIf="feedbackForm.get('name').invalid && feedbackForm.get('name').touched">*Name is
                        required.</small>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Mobile</label>
                    <input type="text" class="form-control" placeholder="Enter your mobile number"
                        formControlName="mobile">
                    <small *ngIf="feedbackForm.get('mobile').invalid && feedbackForm.get('mobile').touched">*Mobile is
                        required.</small>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" placeholder="Enter your email" formControlName="email">
                    <small *ngIf="feedbackForm.get('email').invalid && feedbackForm.get('email').touched">*Email is
                        required.</small>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" placeholder="Enter your city" formControlName="city">
                    <small *ngIf="feedbackForm.get('city').invalid && feedbackForm.get('city').touched">*City is
                        required.</small>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Describe Feedback</label>
                    <textarea rows="4" class="form-control" placeholder="Enter your feedback"
                        formControlName="feedbackInfo"></textarea>
                    <small
                        *ngIf="feedbackForm.get('feedbackInfo').invalid && feedbackForm.get('feedbackInfo').touched">*Feedback
                        information is required.</small>
                </div>

                <button type="submit" class="btn btn-outline-primary mt-4" [disabled]="feedbackForm.invalid">Submit
                    feedback</button>
            </form>
        </div>
    </div>
</div>