h2 {
    font-weight: 500;
    font-size: 30PX;
}

h4 {
    font-weight: 500;
    font-size: 25px;
}

form {
    margin-bottom: 80px;
}

textarea {
    overflow: hidden;
    resize: none;
}

button {
    width: 100%;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

small {
    color: red;
    font-weight: bold;
}