<div class="container">
    <div class="py-5 text-center">
        <h2>Signup for User</h2>
    </div>
    <div class="d-flex mx-4 justify-content-center">
        <div class="col-md-7 col-lg-8">
            <form [formGroup]="userForm" (ngSubmit)="OnFormSubmit()">
                <div class="row g-3">
                    <div class="col-12">
                        <label class="form-label">User name</label>
                        <input type="text" class="form-control" formControlName="userName"
                            placeholder="Enter your name">
                        <small *ngIf="userForm.get('userName').invalid && userForm.get('userName').touched">*User
                            name is required.</small>

                    </div>

                    <div class="col-12">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="you@example.com">
                        <small *ngIf="userForm.get('email').invalid && userForm.get('email').touched">*Email is
                            required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" formControlName="address"
                            placeholder="Enter your address">
                        <small *ngIf="userForm.get('address').invalid && userForm.get('address').touched">*Address
                            is required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" formControlName="city" placeholder="Enter your city">
                        <small *ngIf="userForm.get('city').invalid && userForm.get('city').touched">*City is
                            required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" formControlName="phone" placeholder="Enter your phone">
                        <small *ngIf="userForm.get('phone').invalid && userForm.get('phone').touched">*Phone is
                            required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Telephone <span class="text-body-secondary">(Optional)</span></label>
                        <input type="text" class="form-control" formControlName="telephone"
                            placeholder="Enter your telephone">
                    </div>

                    <div class="col-12">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="Enter your password">
                        <small *ngIf="userForm.get('password').invalid && userForm.get('password').touched">*Password
                            is required.</small>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPass"
                            placeholder="Confirm your password">
                        <small
                            *ngIf="userForm.get('confirmPass').invalid && userForm.get('confirmPass').touched">*Confirm
                            password is required.</small>
                        <small *ngIf="userForm.hasError('passwordMismatch', 'confirmPass')">*Passwords
                            do not match.</small>
                    </div>

                </div>

                <hr class="my-4">

                <h4 class="mb-3">Payment Type</h4>

                <div class="my-3">
                    <div class="form-check">
                        <input type="radio" value="monthly" class="form-check-input" formControlName="paymentType">
                        <label class="form-check-label">Monthly</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" value="quarterly" class="form-check-input" formControlName="paymentType">
                        <label class="form-check-label">Quarterly</label>
                    </div>
                </div>

                <hr class="my-4">

                <div class="input-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" formControlName="checkbox">
                        <label class="form-check-label text-secondary"></label>Read and
                        accept <a href="#">Terms </a>and <a href="#">Privacy Policy.</a>
                    </div>
                    <a routerLink="/auth/register-role"
                        class="text-end ms-auto text-decoration-underline text-primary">Back to Role</a>
                </div>

                <button class="w-100 btn btn-outline-primary btn-lg" type="submit"
                    [disabled]="userForm.invalid">Signup</button>
            </form>
        </div>
    </div>

    <div class="my-5 pt-5"></div>
</div>
