<div class="container mb-4 ">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border"
        style="background-image: url('../../../../assets/images/radiocab-home-hero.jpg'); background-size: cover; height: 620px;">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="text-white display-4 fw-bold lh-1">Radiocab.In <br>
                <h3 style="color: white;"> ~ As your Services ~ </h3>
            </h1>
        </div>

    </div>
</div>
<div>

    <div class="container featurette mt-md-5">
        <div class="row">
            <span class="text-body-secondary fw-bold text-center" style="font-size: 20px;">Introduction</span>
            <h2 class="featurette-heading fw-normal lh-1 mb-3 text-center" style="font-size: 40px;">About Us</h2>
            <hr>
            <div class="col-md-7">

                <div class="row g-4 py-5 mx-3">
                    <p class="lead">Radiocab.In is a website providing taxi services on a nationwide scale.</p>
                    <p class="lead">In addition, Radicab.In also has vehicle rental services for units in need.</p>
                </div>

            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="550"
                    height="500"
                    src="../../../../assets/images/radiocab-pic.jpg"
                    alt="500x500" style="margin-top: 45px;">
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom text-center" style="font-size: 40px;">Services</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 mx-2">
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Taxi</h3>
            <p>Radiocab.in provides taxi services with modern, spacious interiors and smart features, thereby
                enhancing the overall customer experience. </p>
        </div>
        <div class="feature col">

            <h3 class="fs-2 text-body-emphasis">Bike</h3>
            <p>Radiocab.in provides motorbike transportation services with sophisticated designs, durable engines
                and a team of professional drivers, ensuring reliable journeys on every road.</p>

        </div>
        <div class="feature col">

            <h3 class="fs-2 text-body-emphasis">Rental</h3>
            <p>Radiocab.In will provide individuals, businesses, transportation service companies... who need to
                rent cars and motorbikes to travel and do business with 5-star quality vehicles.</p>

        </div>
    </div>
</div>

<footer>
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-4 py-5 my-5 border-top">
            <div class="col mb-3">
                <h5>Company</h5>
                <p class="text-body-secondary">Radiocab.In</p>
                <p class="text-body-secondary">&copy; 2024</p>
            </div>

            <div class="col mb-3">
                <h5>Contact Us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">Phone: <a href="tel:+84912345678"
                            class="nav-link p-0 text-body-secondary">+84 912 345 678</a></li>
                    <li class="nav-item mb-2">Address: <a href="https://example.com"
                            class="nav-link p-0 text-body-secondary">123 Đường ABC, Thành phố XYZ</a></li>
                    <li class="nav-item mb-2">Email: <a href="mailto:info@example.com"
                            class="nav-link p-0 text-body-secondary">info example.com</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>Follow Us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Facebook</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Twitter</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instagram</a>
                    </li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>About Us</h5>
                <p class="text-body-secondary">Radiocab.In is a leading provider of electric vehicle transportation
                    services, committed to sustainability and customer satisfaction.</p>
            </div>
        </footer>
    </div>
</footer>