<main>
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light text-center">Company Listing</h1>
        <p class="lead text-body-secondary text-center">List of companies that have participated and cooperated with
            RadioCab.In.</p>
        <input type="text" class="form-control mb-3" placeholder="Search drivers..." (keyup)="searchCompany($event)">
    </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" *ngFor="let company of filteredCompanies">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"></svg>
                        <div class="card-body">
                            <p class="card-text">{{ company.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-paginator [length]="companies.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)">
    </mat-paginator>
</main>