<div class="container mt-5" style="padding-bottom: 60px;">
    <h1 class="text-center fs-1" style="padding-top: 120px;">Membership</h1>
    <div class="text-center mb-3" style="padding-bottom: 30px; padding-top: 30px;">
        <button type="button" class="btn btn-outline-primary mx-2 w-25" [class.active]="currentPackageType === 'Monthly'" (click)="showMonthly()">Monthly</button>
        <button type="button" class="btn btn-outline-primary mx-2 w-25" [class.active]="currentPackageType === 'Quarterly'" (click)="showQuarterly()">Quarterly</button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="padding: 0 60px 0 60px;">
        <div class="col" *ngFor="let package of packages">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3" [ngClass]="{'bg-primary': package.type === 'Premium'}">
                    <h4 class="my-0 fw-normal fs-3" [ngClass]="{'text-white': package.type === 'Premium'}">{{ package.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">${{ package.price }}<small class="text-body-secondary fw-light">/{{ package.paymentType }}</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li *ngFor="let feature of package.features">{{ feature }}</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">{{ package.buttonText }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
