<div class="container py-3">
    <main>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Signup As ...</h1>
            <div class="my-5"></div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm pricing-card">
                    <div class="card-header py-3 pricing-header">
                        <h4 class="my-0 fw-normal">User</h4>
                    </div>
                    <div class="card-body">
                        <a href="/auth/register-user" class="w-100 btn btn-lg btn-primary">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm pricing-card">
                    <div class="card-header py-3 pricing-header">
                        <h4 class="my-0 fw-normal">Company</h4>
                    </div>
                    <div class="card-body">
                        <a href="/auth/register-company" class="w-100 btn btn-lg btn-primary">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm pricing-card">
                    <div class="card-header py-3 pricing-header">
                        <h4 class="my-0 fw-normal">Driver</h4>
                    </div>
                    <div class="card-body">
                        <a href="/auth/register-driver" class="w-100 btn btn-lg btn-primary">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
