<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a [routerLink]="['/user/home']"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">RadioCab.In</span>
        </a>

        <ul class="nav nav-pills mx-2">
            <li class="nav-item"><a [routerLink]="['/user/account/user']" class="nav-link">Home</a></li>
            <li class="nav-item"><a [routerLink]="['/user/about']" class="nav-link">About</a></li>
            <li class="nav-item"><a [routerLink]="['/user/company']" class="nav-link">Company</a></li>
            <li class="nav-item"><a [routerLink]="['/user/drivers']" class="nav-link">Driver</a></li>
            <li class="nav-item"><a [routerLink]="['/user/advertise']" class="nav-link">Advertise</a></li>
            <li class="nav-item"><a [routerLink]="['/user/feedback']" class="nav-link">Feedback</a></li>
        </ul>
        
        <div class="text-end">
            <a *ngIf="!isLoggedIn" [routerLink]="['/auth/login']" class="btn btn-outline-primary me-2">Login</a>
            <a *ngIf="!isLoggedIn" [routerLink]="['/auth/register-role']" class="btn btn-primary">Signup</a>
            <div *ngIf="isLoggedIn" class="dropdown">
                <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ userName }}
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" [routerLink]="['/user/profile']">Profile</a></li>
                    <li><a class="dropdown-item" (click)="logout()">Signout</a></li>
                </ul>
            </div>
        </div>
        <div class="text-end" *ngIf="isLoggedIn()">
            <button (click)="loggedOut()">Log Out</button>
        </div>
    </header>
</div>