<div class="container mt-5" style="padding-bottom: 60px;">
    <h1 class="d-flex justify-content-center" style="padding-top: 120px; padding-bottom: 80px;">Planning</h1>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="padding: 0 60px 0 60px;">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>1 discount coupon for the first ride(10%)</li>
                        <li>2 discount coupon</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Join for free</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Basic</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>1 discount coupon for the first ride(10%)</li>
                        <li>2 discount coupon and 1 extra per month</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Subscribe</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 bg-primary">
                    <h4 class="my-0 fw-normal text-white">Premium</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$45<small class="text-body-secondary fw-light">/mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>1 discount coupon for the first ride(20%)</li>
                        <li>4 discount coupon and 2 extra per month</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
