.mat-column-name, .mat-column-email, .mat-column-phone, .mat-column-address, .mat-column-city, .mat-column-paymentType, .mat-collumn-actions {

    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}