<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Driver Listing</h1>
                <p class="lead text-body-secondary">List of drivers who have passed recruitment and are working for
                    RadioCab.In.</p>
                <input type="text" class="form-control mb-3" placeholder="Search drivers..."
                    (keyup)="searchDriver($event)">
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" *ngFor="let driver of filteredDrivers">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"></svg>
                        <div class="card-body">
                            <p class="card-text">{{ driver.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>